data/AAE/GCF_000004015.4_AaegL3_genomic.fna.gz
data/AAE/GCF_000004015.4_AaegL3_genomic.gff.gz
data/AAE/GCF_000004015.4_AaegL3_protein.faa.gz
data/AAE/GCF_000004015.4_AaegL3_rna.fna.gz
data/AAE/SRR5163632.fastq.gz
data/AAE/SRR5163633.fastq.gz
data/AAE/SRR5163634.fastq.gz
data/AAE/SRR5163635.fastq.gz
data/AAE/SRR5163636.fastq.gz
data/AAE/SRR5163637.fastq.gz

